.conclusion-wrapper {
  margin-top: 2rem;
  color: white;
  background-color: var(--primary);
  padding: 1.5rem 1rem;
}
#conclusion-invert-button {
  color: var(--primary);
  background-color: white;
}
