.footer {
  background-color: black;
  color: white;
}
.footer-mailing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 3em;
  margin-left: 5em;
  justify-items: start;
}
.footer-nav > * {
  text-decoration: none;
  color: white;
}
.footer-nav > *:hover {
  text-decoration: underline;
}
.footer-mailing-address {
  margin-top: 2rem;
  background-color: white;
  padding: 0.8em 3em 0.8em 1em;
  color: black;
  border-radius: 2em;
}
.footer-submit {
  margin-top: 2rem;
  background-color: var(--primary);
  padding: 0.8em 1.5em;
  border-radius: 2rem;
  margin-left: 1em;
}
@media (min-width: 700px) {
  .footer-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .footer-nav {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
  }
  .footer-mailing {
    align-items: baseline;
  }
  .footer-img {
    margin-top: 2rem;
  }
}
